body{
    font-family: "Roboto", sans-serif;
}
h1,h2,h3{
    color: green;
}
a{
    text-decoration: none;
    margin-right: 5px;
}
figure{
    margin: 0;
    padding: 0;
}
img{
    width: 240px;
    border-radius: 16px;
}
