*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.secao{
    background: linear-gradient(20deg, red, orange, black);
    width: 400px;
    margin: 16px 0;
}
.figura{
    height: 150px;
    box-shadow: 10px 10px 5px 0px yellow;
    /*box-shadow: x, y, desfoque, spread, color*/
}
.secao p{
    text-shadow: 1px 1px .8px red;
}